.sidebar__wrapper {
  grid-area: s;
  background-color: #e1e1e1;
}

.sidebar__wrapper div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friends__block img {
	width: 50px;
	height: 50px;
}

.friends__block {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.item .active {
	color: #000;
}